/.allure/allure-2.13.8/bin/allure
/.allure/allure-2.13.8/bin/allure.bat
/.allure/allure-2.13.8/config/allure-cucumber.yml
/.allure/allure-2.13.8/config/allure-junit.yml
/.allure/allure-2.13.8/config/allure.yml
/.allure/allure-2.13.8/lib/allure-commandline-2.13.8.jar
/.allure/allure-2.13.8/lib/allure-generator-2.13.8.jar
/.allure/allure-2.13.8/lib/allure-model-2.13.0.jar
/.allure/allure-2.13.8/lib/allure-plugin-api-2.13.8.jar
/.allure/allure-2.13.8/lib/allure1-model-1.0.jar
/.allure/allure-2.13.8/lib/commons-beanutils-1.9.3.jar
/.allure/allure-2.13.8/lib/commons-codec-1.11.jar
/.allure/allure-2.13.8/lib/commons-collections-3.2.2.jar
/.allure/allure-2.13.8/lib/commons-collections4-4.2.jar
/.allure/allure-2.13.8/lib/commons-io-2.6.jar
/.allure/allure-2.13.8/lib/commons-lang3-3.9.jar
/.allure/allure-2.13.8/lib/commons-logging-1.2.jar
/.allure/allure-2.13.8/lib/commons-text-1.3.jar
/.allure/allure-2.13.8/lib/config/jetty-logging.properties
/.allure/allure-2.13.8/lib/config/log4j.properties
/.allure/allure-2.13.8/lib/flexmark-0.50.36.jar
/.allure/allure-2.13.8/lib/flexmark-util-0.50.36.jar
/.allure/allure-2.13.8/lib/freemarker-2.3.29.jar
/.allure/allure-2.13.8/lib/httpclient-4.5.9.jar
/.allure/allure-2.13.8/lib/httpcore-4.4.11.jar
/.allure/allure-2.13.8/lib/jackson-annotations-2.9.0.jar
/.allure/allure-2.13.8/lib/jackson-core-2.9.8.jar
/.allure/allure-2.13.8/lib/jackson-databind-2.9.8.jar
/.allure/allure-2.13.8/lib/jackson-dataformat-xml-2.9.8.jar
/.allure/allure-2.13.8/lib/jackson-dataformat-yaml-2.9.8.jar
/.allure/allure-2.13.8/lib/jackson-module-jaxb-annotations-2.9.8.jar
/.allure/allure-2.13.8/lib/javax.activation-api-1.2.0.jar
/.allure/allure-2.13.8/lib/javax.servlet-api-3.1.0.jar
/.allure/allure-2.13.8/lib/jaxb-api-2.3.1.jar
/.allure/allure-2.13.8/lib/jaxb-utils-1.0.jar
/.allure/allure-2.13.8/lib/jcommander-1.78.jar
/.allure/allure-2.13.8/lib/jetty-http-9.4.20.v20190813.jar
/.allure/allure-2.13.8/lib/jetty-io-9.4.20.v20190813.jar
/.allure/allure-2.13.8/lib/jetty-server-9.4.20.v20190813.jar
/.allure/allure-2.13.8/lib/jetty-util-9.4.20.v20190813.jar
/.allure/allure-2.13.8/lib/log4j-1.2.17.jar
/.allure/allure-2.13.8/lib/opencsv-4.6.jar
/.allure/allure-2.13.8/lib/properties-2.0.RC5.jar
/.allure/allure-2.13.8/lib/slf4j-api-1.7.28.jar
/.allure/allure-2.13.8/lib/slf4j-log4j12-1.7.28.jar
/.allure/allure-2.13.8/lib/snakeyaml-1.23.jar
/.allure/allure-2.13.8/lib/stax2-api-3.1.4.jar
/.allure/allure-2.13.8/lib/tika-core-1.22.jar
/.allure/allure-2.13.8/lib/woodstox-core-5.0.3.jar
/.allure/allure-2.13.8/plugins/README.txt
/.allure/allure-2.13.8/plugins/behaviors-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/behaviors-plugin/behaviors-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/behaviors-plugin/static/index.js
/.allure/allure-2.13.8/plugins/custom-logo-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/custom-logo-plugin/custom-logo-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/custom-logo-plugin/static/custom-logo.svg
/.allure/allure-2.13.8/plugins/custom-logo-plugin/static/styles.css
/.allure/allure-2.13.8/plugins/jira-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/jira-plugin/jira-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/allure-jira-commons-2.13.8.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/converter-jackson-2.6.1.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/jackson-annotations-2.9.0.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/jackson-core-2.9.8.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/jackson-databind-2.9.8.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/okhttp-3.12.0.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/okio-1.15.0.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/retrofit-2.6.1.jar
/.allure/allure-2.13.8/plugins/junit-xml-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/junit-xml-plugin/junit-xml-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/packages-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/packages-plugin/packages-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/packages-plugin/static/index.js
/.allure/allure-2.13.8/plugins/screen-diff-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/screen-diff-plugin/screen-diff-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/screen-diff-plugin/static/index.js
/.allure/allure-2.13.8/plugins/screen-diff-plugin/static/styles.css
/.allure/allure-2.13.8/plugins/trx-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/trx-plugin/trx-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/xctest-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/xctest-plugin/lib/xmlwise-1.2.11.jar
/.allure/allure-2.13.8/plugins/xctest-plugin/xctest-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/xray-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/xray-plugin/lib/allure-jira-commons-2.13.8.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/converter-jackson-2.6.1.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/jackson-annotations-2.9.0.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/jackson-core-2.9.8.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/jackson-databind-2.9.8.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/okhttp-3.12.0.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/okio-1.15.0.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/retrofit-2.6.1.jar
/.allure/allure-2.13.8/plugins/xray-plugin/xray-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/xunit-xml-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/xunit-xml-plugin/xunit-xml-plugin-2.13.8.jar
/target/allure-results/0126660f-1a65-4ac2-b106-f522ebc695d4-container.json
/target/allure-results/012b551c-5ac8-4da2-b130-bd1c7e22ad6c-container.json
/target/allure-results/0b34b4bd-5bba-4701-a9bf-b9a08df9c3fc-result.json
/target/allure-results/20a7afa7-58ff-4d49-bee9-12fa6c80276e-container.json
/target/allure-results/2c4bd703-5e68-4b0d-9039-82b7c0c9dd76-container.json
/target/allure-results/2f7df1ed-107f-4649-b935-3d083c1a5ac4-result.json
/target/allure-results/32a8c042-8eb6-4bac-a81f-1eb406bc02d7-result.json
/target/allure-results/32f1f2e2-2f8e-4eb3-bfc7-4345aba5edd7-container.json
/target/allure-results/3ab60de2-dab5-43a1-b9ec-0a68725ddf67-result.json
/target/allure-results/3d1a3abf-bb68-4d96-b006-3e8d43c0aa4b-result.json
/target/allure-results/41724621-9615-47d6-a547-d9a7e391b63b-result.json
/target/allure-results/43730927-a066-4801-832a-0c56f4a31de4-container.json
/target/allure-results/4420676b-5967-48a1-a362-bb136f5dc3d4-result.json
/target/allure-results/569166bb-8adb-4263-965a-cbc1c8fc87d2-container.json
/target/allure-results/57f96341-d8d7-42f3-a1a1-527f4657fa3c-container.json
/target/allure-results/5eb1229b-633d-4911-ad18-468e3e0f0399-container.json
/target/allure-results/62d33496-80e5-4715-a0e8-e9e100645cef-container.json
/target/allure-results/651de0a3-d28d-474e-b253-8b52ec79490d-result.json
/target/allure-results/6c76043e-0249-467b-89b0-253659b3955f-result.json
/target/allure-results/6c7f1827-89c3-4bb3-8cae-9ff345ab8eae-container.json
/target/allure-results/6d793920-9909-4ec1-b845-bb8e82f82df2-container.json
/target/allure-results/6ecf4630-8bf8-45dd-a69e-a706bd497fc5-container.json
/target/allure-results/7093e0bb-983d-4eba-8ec5-e31f34a549f2-container.json
/target/allure-results/797046bf-6f69-416e-a0ce-77e82ee33e40-result.json
/target/allure-results/7b2da8a8-5df9-408b-a911-3611173bdcd5-result.json
/target/allure-results/7cbf55cc-3a26-48f8-aace-f9bf73dbd890-result.json
/target/allure-results/821bddac-16a8-42bf-92b7-1b4bc66b478d-container.json
/target/allure-results/8c9c274f-660b-45e7-bc3b-3d9ee0f505eb-container.json
/target/allure-results/926017b0-5a70-46ee-baba-dcfd2eed0daf-container.json
/target/allure-results/958ef3f1-8800-41e4-9a16-c9f6491edbab-container.json
/target/allure-results/99b2eda5-3240-49c0-bcc6-984bcab2ebff-container.json
/target/allure-results/a446329b-1231-40df-96e3-61a09a392aaf-container.json
/target/allure-results/aa7c310a-6106-4db1-85af-4836ca559cd2-result.json
/target/allure-results/allure.properties
/target/allure-results/b083e0eb-f314-42d9-b71e-056656ae61a7-result.json
/target/allure-results/b4aef10d-e254-4085-bfd7-3a1bfade3aef-result.json
/target/allure-results/b7e51e08-af08-40ca-9153-69be919f25b6-container.json
/target/allure-results/b8a0f8f2-b79d-4dc0-ae49-b04a01e2d5a3-container.json
/target/allure-results/beb5b8d1-2fb9-4a30-b3fa-2571739c14c2-container.json
/target/allure-results/c0ac17ff-6b6c-4ffc-91ed-bcd4184ee6f3-container.json
/target/allure-results/c50e87fa-cd0a-4ff9-b51d-0beedffba73f-container.json
/target/allure-results/c73d4f48-3e11-4a2c-bb01-bc3208d05c8c-result.json
/target/allure-results/cbb5d600-a5e7-40f9-b1a6-230b3b027c27-result.json
/target/allure-results/d00dc671-4d43-4fb2-b2b5-6848d5e48f88-container.json
/target/allure-results/d095a197-8e5b-4589-b912-d80896505665-container.json
/target/allure-results/dfee734f-06e1-49ab-ba87-5ed587453b34-container.json
/target/allure-results/e10c5a11-8872-4c00-b2e4-c5a08d0d5184-result.json
/target/allure-results/e177e82f-d2e7-4ee3-ab56-b42bd210a9ab-container.json
/target/allure-results/e7f3b7e8-3913-4427-a6e9-ed7410fc3ff0-result.json
/target/allure-results/eb5384dc-8d73-4467-ae7f-164aefeb3651-container.json
/target/allure-results/eff55e28-f1ee-453e-95b1-4acc9aeb8a87-container.json
/target/allure-results/executor.json
/target/allure-results/f37254b7-8b9a-494b-b035-57d1042793ec-result.json
/target/allure-results/feca4d67-ced5-4d11-8901-9194a1926c7f-container.json
/target/classes/META-INF/MANIFEST.MF
/target/classes/META-INF/maven/com.clark/apirest-automation-java-restassured/pom.properties
/target/classes/META-INF/maven/com.clark/apirest-automation-java-restassured/pom.xml
/target/classes/com/clark/client/FavouriteClient.class
/target/classes/com/clark/client/ImagesClient.class
/target/classes/com/clark/config/Configuration.class
/target/classes/com/clark/config/ConfigurationManager.class
/target/classes/com/clark/data/factory/FavouriteDataFactory.class
/target/classes/com/clark/data/factory/ImagesDataFactory.class
/target/classes/com/clark/data/suite/TestTags.class
/target/classes/com/clark/data/support/Utils.class
/target/classes/com/clark/model/FavouriteBuilder.class
/target/classes/com/clark/specs/FavouriteSpecs.class
/target/classes/com/clark/specs/ImagesSpecs.class
/target/classes/com/clark/specs/InitialStateSpecs.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/TEST-com.clark.e2e.FullE2ETest.xml
/target/surefire-reports/TEST-com.clark.favourite.FavouriteContractTest.xml
/target/surefire-reports/TEST-com.clark.favourite.FavouriteFunctionalTest.xml
/target/surefire-reports/TEST-com.clark.general.BreedsHealthCheckTest.xml
/target/surefire-reports/TEST-com.clark.images.ImagesContractTest.xml
/target/surefire-reports/TEST-com.clark.images.ImagesFunctionalTest.xml
/target/surefire-reports/com.clark.e2e.FullE2ETest.txt
/target/surefire-reports/com.clark.favourite.FavouriteContractTest.txt
/target/surefire-reports/com.clark.favourite.FavouriteFunctionalTest.txt
/target/surefire-reports/com.clark.general.BreedsHealthCheckTest.txt
/target/surefire-reports/com.clark.images.ImagesContractTest.txt
/target/surefire-reports/com.clark.images.ImagesFunctionalTest.txt
/target/test-classes/allure.properties
/target/test-classes/api.properties
/target/test-classes/com/clark/BaseAPI.class
/target/test-classes/com/clark/e2e/FullE2ETest.class
/target/test-classes/com/clark/favourite/FavouriteContractTest.class
/target/test-classes/com/clark/favourite/FavouriteFunctionalTest.class
/target/test-classes/com/clark/general/BreedsHealthCheckTest.class
/target/test-classes/com/clark/images/ImagesContractTest.class
/target/test-classes/com/clark/images/ImagesFunctionalTest.class
/target/test-classes/images/cat.jpg
/target/test-classes/images/dog.png
/target/test-classes/schemas/favourite_post_v1_schema.json
/target/test-classes/schemas/images_upload_v1_schema.json
